<%= render 'pages/navbar' %>

<div style="height:3000px; margin-top:4rem;" class="absolute z-0">

    <div id="home" class="bg-yellow-400 overflow-auto">
        <div class="flex flex-col justify-center items-center mx-auto mt-4 mb-4">
            <div class="mt-4">
                <img src = "https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="restaurant"  class="rounded-full w-80 h-80 drop-shadow-2xl"/>
            </div>

            <div class="flex flex-col justify-center items-center w-1/2 mt-4"> 
                <h2 class="text-center text-3xl font-bold"> 
                    Restaurant Header
                </h2>
                <p class="text-center mt-4 italic opacity-75">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div id="about" class="bg-gray-200">

    </div>

    <div id="prices" class="bg-yellow-400">

    </div>

    <div id="customers" class="bg-gray-200">

    </div>

    <div id="contact" class="bg-yellow-400">

    </div>

</div>