<%= render 'pages/navbar' %>

<div style="height:3000px; margin-top:4rem;" class="absolute z-0">

    <div id="home" class="bg-yellow-400 overflow-auto">
        <div class="flex flex-col justify-center items-center mx-auto mt-4 mb-4">
            <div class="mt-4">
                <img src = "https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="restaurant"  class="rounded-full w-80 h-80 drop-shadow-2xl"/>
            </div>

            <div class="flex flex-col justify-center items-center w-1/2 mt-4"> 
                <h2 class="text-center text-3xl font-bold"> 
                    Restaurant Header
                </h2>
                <p class="text-center mt-4 italic opacity-75">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div id="about" class="bg-gray-200">
        <div class="container px-4"> 
                   
            <h2 class="text-start text-4xl font-bold pt-4 opacity-75"> Biz Kimiz? </h2>
            
            <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 pt-8 pb-8">
                
                
                <div class=" flex justify-center items-center bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://avatars.githubusercontent.com/u/84380549?v=4" alt="">
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sabri ÇAKIR</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">3rd Grade Student at Pamukkale University</p>
                        <a href="https://www.linkedin.com/in/sabricakir" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-yellow-400 hover:bg-yellow-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Info
                            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

                <div class="flex justify-center items-center  bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg" src="https://avatars.githubusercontent.com/u/56265588?v=4" alt="">
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Rıza Doğukan KOŞAR</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">3rd Grade Student at Pamukkale University</p>
                        <a href="https://www.linkedin.com/in/rizadogukankosar/" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-yellow-400 hover:bg-yellow-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Info
                            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <div id="prices" class="bg-yellow-400">

    </div>

    <div id="customers" class="bg-gray-200">

    </div>

    <div id="contact" class="bg-yellow-400">

    </div>

</div>